{% extends 'base.html.twig' %}

{% block importmap %}
  {{ importmap('account_manager/budget_view') }}
{% endblock %}

{% block app_navigation_tabs %}
  <li>
    <a href="#">Comptes</a>
  </li>
  <li>
    <a href="#">Budget</a>
  </li>
  <li>
    <a href="#">Opérations</a>
  </li>
{% endblock %}

{% block body %}
  <ul class="flex justify-around items-center bg-teal-50 text-teal-600 px-3 py-5">
    <li>
      <a href="{{ path('app_account_manager_budgets_on_specific_date', {month: navigation_dates['previous']|date('n'), year: navigation_dates['previous']|date('Y')}) }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 fill-teal-600">
          <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
        </svg>
      </a>
    </li>
    <li class="text-lg">
      {% set currentMonth = navigation_dates['current']|date('F') %}
      {{ ('months.' ~ currentMonth)|trans }} {{ navigation_dates['current']|date('Y') }}
    </li>
    <li>
      <a href="{{ path('app_account_manager_budgets_on_specific_date', {month: navigation_dates['next']|date('n'), year: navigation_dates['next']|date('Y')}) }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 fill-teal-600">
          <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
        </svg>
      </a>
    </li>
  </ul>
  
  {% macro format_amount(amount) %}
    {{ amount|default('0')|number_format(2, ',', ' ') }} &euro;
  {% endmacro %}
  
  {# Only concerns available amount of budget #}
  {% macro hightlight_amount(amount) %}
    {# By default, amount is displayed with the default gray color because it is considered null #}
    {% set class = '' %}
    
    {# If amount is negative #}
    {% if amount|slice(0, 1) == '-' %}
      {% set class = 'text-red-500' %}
    {% elseif amount is not null %}
      {% set class = 'text-green-500' %}
    {% endif %}
    
    {# Returns class #}
    {{ class }}
  {% endmacro %}
  
  <main class="mt-5">
    {% for category in budgets_grouped_by_categories %}
      <details class="mb-1">
        <summary class="bg-gray-200 py-4 px-3 font-bold text-gray-500 feat-am-budget-row">
          <span class="feat-am-budget-name">{{ category.name }}</span>
          <span class="feat-am-category-amount-view feat-am-budget-amount">
            <span class="text-xs font-normal">Assigné</span>
            {{ _self.format_amount(category.assigned_amount) }}
          </span>
          <span class="feat-am-category-amount-view feat-am-budget-amount">
            <span class="text-xs font-normal">Disponible</span>
            {{ _self.format_amount(category.available_amount) }}
          </span>
        </summary>
        
        {% for budget in category.budgets %}
          <div data-budget="{{ budget.id }}" class="budget-widget bg-white p-3">
            <div class="feat-am-budget-row">
              <span class="feat-am-budget-name">{{ budget.name }}</span>
              <span class="feat-am-budget-amount">
              {{ _self.format_amount(budget.assigned_amount) }}
            </span>
              <span class="feat-am-budget-amount {{ _self.hightlight_amount(budget.available_amount) }}">
              {{ _self.format_amount(budget.available_amount) }}
            </span>
            </div>
            <div class="budget-edition mt-2 gap-5 hidden">
              <button class="btn btn-primary btn-small" type="button">Editer budget</button>
            </div>
          </div>
        {% endfor %}
      </details>
    {% endfor %}
  </main>
{% endblock %}
